*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: sans-serif;
}
.menu-bar
{
    background: #fff;
    text-align: center; 
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
}